---
import Card from "../basic/Card.astro";

interface Props {
  icon: string;
  title: string;
  description: string;
}

const { icon, title, description } = Astro.props;
---

<Card class:list="flex flex-col gap-4 p-4">
  <div
    class="text-2xl flex bg-body-3 p-2 w-12 h-12 aspect-square justify-center items-center rounded"
  >
    {icon}
  </div>

  <div>
    <h3 class="text-base font-medium">{title}</h3>
    <p class="text-text-2">
      {description}
    </p>
  </div>

  <div>
    <slot />
  </div>
</Card>
