---
interface Props {
  imageSrc: string;
  imageAlt: string;
  classList?: string;
}

const { imageSrc, imageAlt, classList } = Astro.props;
---

<div
  class=`flex w-auto aspect-square rounded-full overflow-hidden hover:animate-spin ${classList}`
>
  <img src={imageSrc} alt={imageAlt} />
</div>
