---
interface Props {
  imageSrc: string;
  imageAlt: string;
  styleClass?: string;
}

const { imageSrc, imageAlt, styleClass } = Astro.props;
---

<div class=`p-3 rounded-full ${styleClass}`>
  <div
    class=`flex h-24 w-auto aspect-square rounded-full bg-gray-500 overflow-hidden hover:animate-spin`
  >
    <img src={imageSrc} alt={imageAlt} />
  </div>
</div>
