---
interface Props {
  classList?: string;
}

const { classList } = Astro.props;
---

<p
  class:list={[
    `bg-body-3 text-text-2 rounded border border-transparent hover:border-accent transition-all duration-200 ease-in-out cursor-pointer`,
    classList,
  ]}
>
  <slot />
</p>
