---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"button">;
const { class: classList, ...props } = Astro.props;
---

<button
  class:list={[
    `border border-transparent hover:border-accent rounded`,
    classList,
  ]}
  {...props}
>
  <slot />
</button>
