---
interface Props {
  title?: string;
  classList?: string;
}

const { title, classList } = Astro.props;
---

<div class=`card ${classList}`>
  <h2>{title}</h2>

  <div>
    <slot />
  </div>
</div>
