---
interface Props {
  classList?: string;
}

const { classList } = Astro.props;
---

<div
  class=`bg-body-2 rounded-md p-4 border transition-all border-transparent hover:border-accent ${classList}`
>
  <slot />
</div>
