---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div">;
const { class: classList, ...props } = Astro.props;
---

<div
  class:list={[
    "bg-body-2 rounded-md border transition-all border-transparent hover:border-accent",
    classList,
  ]}
  {...props}
>
  <slot />
</div>
