---
interface Props {
  title?: string;
  styleClass?: string;
}

const { title, styleClass } = Astro.props;
---

<div class=`card ${styleClass}`>
  <h2>{title}</h2>

  <div>
    <slot />
  </div>
</div>
