---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"section">;
const { class: classList, ...props } = Astro.props;
---

<section {...props} class:list={["mx-auto px-4 max-w-6xl", classList]}>
  <slot />
</section>
