/* global style */
* {
  scrollbar-width: thin;
}
*::-webkit-scrollbar {
  width: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p, 
ul, 
ol {
  margin-bottom: 1rem;
}

main ul {
  list-style: circle;
}

main ol {
  list-style: decimal;
}

code,
pre {
  padding: 1rem;
  border-radius: 0.25rem;
}
