---
import { SERIES } from '@consts';
import { getCollection, type CollectionEntry } from 'astro:content';
import PageLayout from '@layouts/PageLayout.astro';
import Container from '@components/Container.astro';
import SeriesPreview from '@components/SeriesPreview.astro';
import Pagination from '@components/Pagination.astro';
import Search from '@components/Search.astro';

const seriesList = (await getCollection('series')).sort(
  (a: CollectionEntry<'series'>, b: CollectionEntry<'series'>) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const title = SERIES.title;
---

<PageLayout title={title} description={SERIES.description}>
  <section class="flex flex-col flex-1">
    <Container class="flex flex-col flex-1 w-full">
      <div class="flex-1">
        <h1 class="text-xl font-bold mb-6">Series</h1>

        <Search />

        <ul class="flex flex-col gap-4">
          {
            seriesList.length > 0 ? (
              seriesList.map((series: any) => (
                <li>
                  <SeriesPreview series={series} />
                </li>
              ))
            ) : (
              <li>No series found</li>
            )
          }
        </ul>
      </div>

      <Pagination currentPage={1} totalPages={1} basePath="/series" size={10} />
    </Container>
  </section>
</PageLayout>

<script>
  import { pageUtils } from '@lib/page-utils';
  pageUtils.initSeriesPage();
</script>
