---
import Container from "../basic/Container.astro";
import Card from "../basic/Card.astro";
---

<Container id="contact" class:list={"my-4"}>
  <Card classList="flex flex-col gap-4 p-6">
    <div class="flex flex-col gap-2">
      <h2 class="font-bold text-xl">Get in touch</h2>
      <p>
        Whether you have a question, a project idea, or just want to say hello,
        I'd love to hear from you. Reach out and let's start a conversation.
      </p>

      <div class="inline-flex gap-4">
        <a
          href="mailto:wesleybertipaglia@gmail.com"
          target="_blank"
          class="border border-transparent w-fit hover:border-text-3 rounded bg-body-3 px-4 py-2 font-bold"
          >Mail me 📬
        </a>

        <a
          href="https://calendar.app.google/LTqXDTcVxGkXnes37"
          target="_blank"
          class="border border-transparent w-fit hover:border-text-3 rounded bg-body-3 px-4 py-2 font-bold"
          >Schedule an Interview 📆
        </a>
      </div>
    </div>
  </Card>
</Container>
