---
const today = new Date();
import Container from "../basic/Container.astro";
import Link from "../basic/Link.astro";
---

<footer>
  <Container classList="flex flex-col gap-2 items-center py-6 text-neutral-500">
    <p>&copy; {today.getFullYear()} Wesley Bertipaglia</p>

    <ul class="flex gap-4 text-sm">
      <li>
        <Link
          href="https://instagram.com/wesleyberti_"
          target="_blank"
          class:list={"no-underline"}
        >
          instagram
        </Link>
      </li>
      <li>
        <Link
          href="https://twitter.com/wesleyberti_"
          target="_blank"
          class:list={"no-underline"}
        >
          twitter
        </Link>
      </li>
      <li>
        <Link
          href="https://linkedin.com/in/wesley-bertipaglia"
          target="_blank"
          class:list={"no-underline"}
        >
          linkedin
        </Link>
      </li>
      <li>
        <Link
          href="https://github.com/wesleybertipaglia"
          target="_blank"
          class:list={"no-underline"}
        >
          github
        </Link>
      </li>
    </ul>
  </Container>
</footer>
