---
const today = new Date();
import Container from "../basic/Container.astro";
---

<footer>
  <Container styleClass="text-center text-neutral-500">
    <p>&copy;wesleyberti_ {today.getFullYear()}</p>
  </Container>
</footer>
