---
import Container from "../basic/Container.astro";
import Link from "../basic/Link.astro";
---

<header class="sticky top-0 z-10 bg-body-1 border-b border-body-3">
  <Container class:list={"py-4"}>
    <nav class="flex items-center justify-between">
      <Link href="/" class="font-medium">Home</Link>

      <div class="flex items-center gap-6">
        <ul class="flex gap-6 text-sm">
          <li>
            <Link href="/#about" class="font-medium">About</Link>
          </li>
          <li>
            <Link href="/blog" class="font-medium">Blog</Link>
          </li>
          <li>
            <Link href="/projects" class="font-medium">Projects</Link>
          </li>
          <li>
            <Link href="/#contact" class="font-medium">Contact</Link>
          </li>
        </ul>

        <button
          class="px-1 pr-6 border rounded-full transition-all"
          title="toggle theme"
          id="toggle-theme">🌞</button
        >
      </div>
    </nav>
  </Container>
</header>
