---
import Container from "../basic/Container.astro";
import Link from "../basic/Link.astro";
---

<header>
  <Container styleClass="p-6">
    <nav class="flex justify-between text-neutral-500">
      <a href="/">wesleyberti_</a>

      <ul class="flex gap-4">
        <li><Link href="/about">About</Link></li>
        <li><Link href="/blog">Blog</Link></li>
      </ul>
    </nav>
  </Container>
</header>
