---
import Container from "../basic/Container.astro";
import Avatar from "../basic/Avatar.astro";
import Link from "../basic/Link.astro";
import Badge from "../basic/Badge.astro";
---

<Container classList="flex flex-col gap-3">
  <div class="flex gap-4 items-center">
    <Avatar
      imageSrc="/assets/me/avatar.svg"
      imageAlt="The Avatar of Wesley Bertipaglia"
      classList="h-16"
    />
    <div class="animate-fade-in">
      <h3 class="text-xl">Wesley Bertipaglia</h3>
      <p class="opacity-50">Web Developer</p>
    </div>
  </div>

  <div>
    <p class="leading-8 text-xl">
      I'm a Full stack web developer from 🇧🇷, passionate about technology and
      loves creating cool things.
    </p>
    <p>
      I'm currently working at{" "}
      <Link href="https://ancode.app/" target="_blank" class="text-cyan-400">
        @Ancode
      </Link>
      as a Software Engineer.
    </p>
  </div>

  <div
    class="flex gap-16 select-none w-100 overflow-hidden opacity-25 text-2xl font-bold"
  >
    <div
      aria-hidden="true"
      class="animate-marquee flex gap-16 justify-around min-w-full flex-shrink-0"
    >
      <p>html</p>
      <p>css</p>
      <p>sass</p>
      <p>js</p>
      <p>react</p>
      <p>next</p>
      <p>astro</p>
      <p>sql</p>
      <p>nosql</p>
    </div>
    <div
      aria-hidden="true"
      class="animate-marquee flex gap-16 justify-around min-w-full flex-shrink-0"
    >
      <p>html</p>
      <p>css</p>
      <p>sass</p>
      <p>js</p>
      <p>react</p>
      <p>next</p>
      <p>astro</p>
      <p>sql</p>
      <p>nosql</p>
    </div>
  </div>
</Container>
