---
import { social } from "../../data/links.js";
import BadgeSquare from "../basic/BadgeSquare.astro";
---

<div class="flex flex-wrap gap-2">
  {
    social.map((item) => (
      <a href={item.link} target="_blank">
        <BadgeSquare title={item.name} class="text-xl">
          <i class={`devicon devicon-${item.icon}`} />
        </BadgeSquare>
      </a>
    ))
  }
</div>
