---
import Container from "../basic/Container.astro";
import LinkTree from "../specific/LinkTree.astro";
import { social } from "../../data/links";
---

<Container id="about" class:list={"flex flex-col gap-4 my-12"}>
  <div class="flex flex-col gap-2">
    <h2 class="font-bold text-xl">About me</h2>
    <p>
      I'm a software engineer with a passion for web development. I have
      experience in building web applications using modern technologies like
      React, Node.js, and MongoDB. I'm always looking to learn new things and
      improve my skills.
    </p>
  </div>

  <LinkTree type="horizontal" links={social} />
</Container>
