---
const today = new Date();
import Container from "../basic/Container.astro";
import Link from "../basic/Link.astro";
import links from "../../data/links.js";
---

<footer class="border-t border-accent py-6 mt-12">
  <Container class:list={"flex flex-col gap-2 items-center text-neutral-500"}>
    <p>&copy; {today.getFullYear()} Wesley Bertipaglia</p>

    <ul class="flex gap-4 text-sm">
      {
        links.map((link) => (
          <li>
            <Link href={link.url} target="_blank" class:list={"no-underline"}>
              {link.name}
            </Link>
          </li>
        ))
      }
    </ul>
  </Container>
</footer>
