<button id="confetti" class="mt-4 underline underline-offset-4">
    Thanks for visiting! 🎉
</button>

<script>
    import confetti from "canvas-confetti";
    const confettiButton = document.getElementById("confetti");
    confettiButton?.addEventListener("click", () => {
        confetti();
    });
</script>
