---
import Container from "@components/Container.astro";
import { SITE } from "@consts";
import Socials from "./Socials.astro";

const year = new Date().getFullYear();
---

<footer>
    <Container>
        <nav
            class="flex flex-col md:flex-row gap-2 items-center justify-between py-4 text-sm text-light-text-3/50 dark:text-dark-text-3/50 border-t border-dark-background-3/10 dark:border-light-background-3/10"
        >
            <p class="font-mono">
                <span>&copy; {year}</span>
                <span>{SITE.author}</span>
            </p>

            <Socials showAll={true} />
        </nav>
    </Container>
</footer>
