---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;
const { href, class: classList, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
    href={href}
    class:list={["hover:underline", classList, { active: isActive }]}
    {...props}
>
    <slot />
</a>
<style>
    a.active {
        text-decoration: underline;
    }
</style>
