---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;
const { href, class: classList, ...props } = Astro.props;

const { pathname } = Astro.url;
const hrefStr = href?.toString() || "";
const isActive =
    hrefStr === "/" ? pathname === "/" : pathname.startsWith(hrefStr);
---

<a
    href={href?.toString() || ""}
    class:list={["hover:underline", classList, { active: isActive }]}
    {...props}
>
    <slot />
</a>
<style>
    a.active {
        text-decoration: underline;
    }
</style>
