---
import type { CollectionEntry } from 'astro:content';
import { textUtils } from '@lib/text-utils';
import ArrowOutwardIcon from '@icons/ArrowOutwardIcon.astro';

type Props = {
  post: CollectionEntry<'blog'> | CollectionEntry<'projects'>;
};

const { post } = Astro.props;
---

<a
  href={`/${post.collection}/${post.slug}`}
  class="post relative group flex flex-nowrap py-3 px-4 pr-10 rounded transition-colors duration-300 ease-in-out border
    border-border-3/10
    hover:bg-background-3/10 hover:bg-dark-background-3/10 text-color-3 hover:text-color-2 hover:text-dark-text-2"
>
  <div class="flex flex-col flex-1 truncate">
    <div
      class="font-semibold text-color-3 hover:text-color-2 hover:text-dark-text-2"
    >
      {post.data.title}
    </div>
    <div class="text-sm text-color-3/75">
      {textUtils.excerpt({ text: post.data.description, maxLength: 64 })}
    </div>
    <div class="text-xs text-color-3/50">
      {textUtils.readingTime({ text: post.body })}
    </div>
  </div>
  <ArrowOutwardIcon
    className="absolute top-1/2 right-2 -translate-y-1/2 size-5 stroke-2 fill-none stroke-current"
  />

  <div class="tags hidden">
    {post.data.tags.join(', ')}
  </div>
</a>
