---
import type { CollectionEntry } from "astro:content";
import { excerpt } from "@lib/utils";

type Props = {
    post: CollectionEntry<"blog"> | CollectionEntry<"projects">;
};

const { post } = Astro.props;
---

<a
    href={`/${post.collection}/${post.slug}`}
    class="relative group flex flex-nowrap py-3 px-4 pr-10 rounded transition-colors duration-300 ease-in-out border
    border-light-border-3/10 dark:border-dark-border-3/10
    hover:bg-light-background-3/10 dark:hover:bg-dark-background-3/10"
>
    <div class="flex flex-col flex-1 truncate">
        <div class="font-semibold">
            {post.data.title}
        </div>
        <div class="text-sm">
            {excerpt({ text: post.data.description, maxLength: 64 })}
        </div>
    </div>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        class="absolute top-1/2 right-2 -translate-y-1/2 size-5 stroke-2 fill-none stroke-current"
    >
        <line
            x1="5"
            y1="12"
            x2="19"
            y2="12"
            class="translate-x-3 group-hover:translate-x-0 scale-x-0 group-hover:scale-x-100 transition-transform duration-300 ease-in-out"
        ></line>
        <polyline
            points="12 5 19 12 12 19"
            class="-translate-x-1 group-hover:translate-x-0 transition-transform duration-300 ease-in-out"
        ></polyline>
    </svg>
</a>
