---
import PostClapsCount from './PostClapsCount.astro';
import PostViewsCount from './PostViewsCount.astro';
---

<div class="flex items-center gap-4 mt-8">
  <PostViewsCount />
  <PostClapsCount />
</div>
