---
import { Icon } from 'astro-icon/components';

const { placeholder = 'Search...' } = Astro.props;
const { pathname } = Astro.url;
const action = pathname.includes('/blog')
  ? '/blog'
  : pathname.includes('/projects')
    ? '/projects'
    : pathname.includes('/series')
      ? '/series'
      : pathname.includes('/work')
        ? '/work'
        : '/';
---

<form method="get" action={action} class="mb-4">
  <div class="relative">
    <input
      type="text"
      name="q"
      placeholder={placeholder}
      class="w-full py-3 px-4 pr-10 rounded border border-border-3/10 bg-transparent text-color-3 hover:bg-background-3/10 hover:bg-dark-background-3/10 focus:bg-background-3/10 focus:bg-dark-background-3/10 transition-colors duration-300 ease-in-out"
    />
    <button
      type="submit"
      class="absolute top-1/2 right-2 mr-2 -translate-y-1/2 size-5 stroke-2 fill-none stroke-current text-color-3"
    >
      <Icon
        name="icons/search"
        class="size-5 stroke-2 fill-none stroke-current"
      />
    </button>
  </div>
</form>
