---
import { SOCIALS } from '@lib/consts';
import { Icon } from 'astro-icon/components';

interface Props {
  showAll?: boolean;
  size?: number;
}

const { showAll = false, size = 4 } = Astro.props;

let socialLinks = showAll
  ? SOCIALS
  : SOCIALS.filter((item) => item.main == true);
---

<ul class="flex gap-4 mt-2">
  {
    socialLinks.map((social) => (
      <li>
        <a
          href={social.url}
          target="_blank"
          rel="noopener noreferrer"
          class="text-color-3/50 hover:text-color-3/75 hover:text-dark-text-3/75"
        >
          {social.icon ? (
            <Icon
              name={`socials/${social.icon}`}
              class={`w-${size} h-auto aspect-square`}
            />
          ) : (
            <span>{social.title}</span>
          )}
        </a>
      </li>
    ))
  }
</ul>
