---
import { SOCIALS } from "@consts";
import { Icon } from "astro-icon/components";

interface Props {
	showAll?: boolean;
}

const {
	showAll = false,
} = Astro.props;

let socialLinks = showAll ? SOCIALS : SOCIALS.filter((item, _) => item.main == true);
---

<ul class="flex gap-4 mt-2">
    {
        socialLinks
        .map((social) => (
            <li>
                <a
                    href={social.url}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="text-light-text-3/50 dark:text-dark-text-3/50 hover:text-light-text-3/75 dark:hover:text-dark-text-3/75"
                >
                    {social.icon ? (
                        <Icon name={`logos/${social.icon}`} class="w-4 h-4" />
                    ) : (
                        <span>{social.title}</span>
                    )}
                </a>
            </li>
        ))
    }
</ul>
