<button
    id="theme-toggle"
    class="block h-5 w-5 rounded-full bg-dark-background-3 dark:bg-light-background-3"
    aria-label="Toggle theme"
>
</button>

<script>
    import { initTheme, toggleTheme } from "@lib/theme";

    initTheme();

    const themeToggle = document.getElementById("theme-toggle");
    themeToggle?.addEventListener("click", toggleTheme);
</script>
