<button
    id="theme-toggle"
    class="block h-5 w-5 rounded-full bg-dark-background-3 dark:bg-light-background-3"
    aria-label="Toggle theme"
>
</button>

<script>
    import { themeUtils } from "@lib/theme";
    themeUtils.initThemeToggle();
</script>
