---
import { Icon } from 'astro-icon/components';
---

<button
  id="top"
  class="hidden p-2 fixed right-8 bottom-8 rounded bg-background-3"
>
  <Icon name="icons/angle-up" class="w-4 h-4" />
</button>

<script>
  import { ScrollUtils } from '@lib/scroll.utils';
  ScrollUtils.initScrollToTop();
</script>
