---
import { BLOG } from "@consts";
import { getCollection, type CollectionEntry } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import PostPreview from "@components/PostPreview.astro";

const projectsPosts = (await getCollection("projects"))
	.sort((a: CollectionEntry<"projects">, b: CollectionEntry<"projects">) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<PageLayout title={BLOG.title} description={BLOG.description}>
	<section>
		<Container>
			<h1 class="text-xl font-bold mb-6">Projects</h1>

			<ul class="flex flex-col gap-4">
				{
					projectsPosts.length > 0 ? (
						projectsPosts.map((post: any) => (
							<li>
								<PostPreview post={post} />
							</li>
						))
					) : (
						<li>No posts found</li>
					)
				}
			</ul>
		</Container>
	</section>
</PageLayout>

<script>
  import { filterPostsByTag } from "@lib/tag";
  filterPostsByTag("Projects");  
</script>