---
import { WORK } from '@lib/consts';
import { getCollection, type CollectionEntry } from 'astro:content';
import PageLayout from '@layouts/PageLayout.astro';
import Container from '@components/Container.astro';
import WorkPreview from '@components/WorkPreview.astro';
import Pagination from '@components/Pagination.astro';
import Search from '@components/Search.astro';

const workPosts = (await getCollection('work')).sort(
  (a: CollectionEntry<'work'>, b: CollectionEntry<'work'>) =>
    b.data.startDate.valueOf() - a.data.startDate.valueOf()
);

const title = WORK.title;
---

<PageLayout title={title} description={WORK.description}>
  <section class="flex flex-col flex-1">
    <Container class="flex flex-col flex-1 w-full">
      <div class="flex-1">
        <h1 class="text-xl font-bold mb-6">Work</h1>

        <Search />

        <ul class="flex flex-col gap-6">
          {
            workPosts.length > 0 ? (
              workPosts.map((post: any) => (
                <li>
                  <WorkPreview post={post} />
                </li>
              ))
            ) : (
              <li>No work found</li>
            )
          }
        </ul>
      </div>

      <Pagination currentPage={1} totalPages={1} basePath="/work" size={10} />
    </Container>
  </section>
</PageLayout>

<script>
  import { pageUtils } from '@lib/page.utils';
  pageUtils.initWorkPage();
</script>
