---
import Header from "../components/base/Header.astro";
import Footer from "../components/base/Footer.astro";
import BaseHead from "../components/base/Head.astro";
import { SITE_TITLE, SITE_SEPARATOR } from "../consts";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <BaseHead
    title={SITE_TITLE + SITE_SEPARATOR + title}
    description={description}
  />
  <body
    class=`min-h-screen flex flex-col font-sans bg-slate-50 text-zinc-950 dark:bg-zinc-950 dark:text-slate-50`
  >
    <Header />

    <main class="flex-auto p-6">
      <slot />
    </main>

    <Footer />
  </body>
</html>
